<p id="notice"><%= notice %></p>
<% if @current_user_can_see_image %>
  <%= render partial: "single_image", locals: {image: @image}%>
<% else %>
  <p>This image is private</p>
<% end %>

<%= link_to 'Back to Gallery', images_path %>
